/letterabc
/wav
/spectrograms
/diploma_notes
/.ipynb_checkpoints
/lmd_full
/new_env
/preprocessed_data
/temp_features
lettersabc.zip
requirements.txt
3.ipynb
best_model.h5
data_segments.csv
krasivaya-i-krasivaya-fortepiannaya-muzyika-40481.wav
midi_dataframe.json
tiny_instrument_model.joblib
tiny_label_encoder.joblib
Violin_for_test1.wav
whispered-dreams-20240601-041419.wav
X_features.dat
/output_1
/output_03
/output_perfect
/output_too_perfect
/output_with_chords
test.wav
fluidsynth.wav
conversion_log.txt
output.png
sample.ipynb
Violin_for_test1.wav
/diploma_notes
*.h5
*.keras
*.pt
*.onnx
saved_model.pb
variables/
checkpoint*
best_model_saved/
fixed_model/
autokeras_model/
autokeras_models/
runs/
super_C/saved_models/
super_C/last_saved/
*.wav
*.mid
analysis_report*.pdf
__pycache__/
*.pyc
*.exe
*.pkg
build/
dist/